@font-face {
    font-family: 'magnetobold';
    src: url('./fonts/magnetob-webfont.woff2') format('woff2'),
         url('./fonts/magnetob-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    height: 100vh;
    width: 100vw;
}

#container1 {
    display: flex;
    justify-content: center;
    /*border: 10px solid blue;*/
    height: 100vh;
    width: 100 vw;

}

#container2 {
    display: flex;
    justify-content: center;
    /*border: 5px solid green;*/
    /*height: fit-content;*/
    height: 100vh;
    width: 1000px;
    padding: 10px;

}

#calculator {
    /*border: 2px solid black;*/

    width: 550px;
    display: flex;
    justify-content: center;
    
}

.content {
    border: 4px solid rgba(0, 0, 0, .9);
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    /*background-color:  hsl(0, 1%, 14%);*/
    background-color:  hsl(0, 4%, 16%);
    background-image: linear-gradient(to bottom right, hsl(0, 4%, 16%), hsl(0, 4%, 16%), hsl(0, 4%, 16%), rgb(90, 86, 86), hsl(0, 4%, 16%), hsl(0, 4%, 16%), hsl(0, 4%, 16%))

}

#title {
    display: flex;
    justify-content: space-between;
    font-family: 'magnetobold';
}

#logo{
    margin: 5px;
    font-family: 'magnetobold';
    /*background: -webkit-linear-gradient(#eee, #4c65ac);*/
    background: -webkit-linear-gradient(#eee, #eee, rgb(216, 216, 216), rgba(216, 216, 216, 0.904), rgba(216, 216, 216, 0.815), rgba(216, 216, 216, 0.658), rgba(192, 192, 192, 0.5), #697aa8, silver, #eee, #eee, #E1E1E1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#trademark {
    margin: 5px;
    font-family: 'magnetobold';
    /* linear-gradient(#222,#eee,#222);*/

    /*background: -webkit-linear-gradient(#eee, #4c65ac);*/
    background: -webkit-linear-gradient(#eee, #eee, rgb(216, 216, 216), rgba(216, 216, 216, 0.904), rgba(216, 216, 216, 0.815), rgba(216, 216, 216, 0.658), rgba(192, 192, 192, 0.5), #697aa8, silver, #eee, #eee, #E1E1E1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.output {
    width: 500px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
    margin-top: 5px;
}
#display {
    max-width: 475px;
    height: 75px;
    /*border: 1px solid black;*/
    border-radius: 10px;
}

#display1 {
    max-width: 100%;
    height: 100%;
    /*border: 1px solid black;*/
    border-radius: 10px;
    font-style: italic;
    color: black;
    font-size: 3rem;
    background-color: beige;
}

.input{
    display: flex;
    margin-top: 10px;
    height: 500px;
    width: 500px;
    justify-content: center;

}

#buttons {
    width: 500px;
    height: 500px;
    display: flex;
    

    /*border: 1px solid red;*/
    
}

button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    /*background-color: rgb(228, 228, 207);*/
    background-color: #d3a770;

    

}

button:hover {
    background-color: rgba(214, 222, 230, 0.8);
}

button:active {
    background-color: rgba(255, 255, 255, 0.8);
}

.n {
    width: 85px;
    height: 85px;
}

#equals {
    width: 85px;
    height: 85px;
}

#point {
    width: 85px;
    height: 85px;
}

#leftBtns {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    /*border: 1px solid orangered;*/
}

.resetBtns {
    /*border: 1px solid purple;*/
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    /*border-top-right-radius: 10px;*/



}
.resetBtns button {
    width: 138px;
    font-size: x-large;
}

#numberBtns {
    /*border: 1px solid purple;*/
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    width: 300px;
    height: 352px;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    /*border-bottom-right-radius: 10px;*/
    /*background-image: linear-gradient(to bottom right, black, black, black, silver, black, black, black);*/



}

#numberBtns button {
    font-size: x-large;
}

.operatorBtns {
    /*border: 1px solid purple;*/
    width: 200px;
    height: 428px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    

}

.operatorBtns button {
    height: 205px;
    width: 80px;
    font-size: xx-large;

}